# Fichiers de configuration
# Environnements
venv/
.venv*/
env/
ENV/

# Python caches
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Données lourdes (adapte si besoin)
data/images/
/data/images/
data/raw/

# OS
.DS_Store
Thumbs.db