IPython==9.5.0
emoji==2.14.1
imbalanced-learn==0.13.0
importlib_metadata==8.7.0
joblib==1.5.1
langdetect==1.0.9
matplotlib==3.9.2
member==0.0.1
nltk==3.9.1
numpy==2.3.2
pandas==2.3.1
pillow==11.3.0
pytest==8.4.1
shap==0.48.0
scikit-learn==1.6.1
scipy==1.16.1
squarify==0.4.3
streamlit==1.49.1
toml==0.10.2
tomli==2.2.1
torch==2.8.0
torchvision==0.23.0
tqdm==4.67.1
wordcloud==1.9.4
xgboost==1.7.6
lightgbm==4.0.0
transformers==4.19.1
huggingface-hub==0.35.0
